@import "./vatiables";
@import "./mixins";

body {
  font-family: "Nunito", sans-serif;
}

.container_mobile {
  padding: 0 15px;
}

.container_desktop {
  max-width: 1408px;
  margin: auto;
  // padding: 0 256px;
}

// mobile first
@media (max-width: 760px) {
  .header_desktop {
    display: none;
  }
  .main_desktop {
    display: none;
  }
  .header_picture {
    width: 100%;
    height: 240px;
    background-image: url(img/mobile_header_picture.svg);
    background-size: cover;
  }
  .header_text {
    background: linear-gradient(
      39.89deg,
      rgba(0, 115, 12, 0.81) -22.86%,
      rgba(251, 246, 238, 0) 116.18%
    );
    .sup_title {
      img {
        padding-right: 5px;
      }
      padding-top: 48px;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
    }
    .title {
      span {
        color: $styleColorBG;
      }
      padding-top: 10px;
      font-weight: 700;
      font-size: 28px;
      line-height: 38px;
    }

    .sub_title {
      p {
        text-align: justify;
      }
      padding-top: 15px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }

    .header_btn {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .get {
        background-color: $styleColorBG;
        color: #fff;
        width: 303px;
        height: 44px;
        border: none;
        border-radius: 5px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }
    }

    .header_sup_btn {
      margin-top: 20px;
      a {
        @include flexBoxsStandart();
        text-decoration: none;
        color: $styleColorBG;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        img {
          padding-left: 12px;
        }
      }
    }
    .live_statistic {
      position: relative;
      display: flex;
      justify-content: flex-end;
      padding: 40px 0 35px;
    }

    .customrs {
      z-index: 2;
      margin: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      width: 133px;
      height: 32px;
      background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
      border-radius: 32px;
      span {
        margin-right: 8px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
      }
    }

    .position_img {
      z-index: 0;
      position: absolute;
      top: -20px;
      left: -20px;
    }
  }
  .top_nav_bar {
    padding: 0 20px;
    height: 55px;
    @include flexBoxsStandart();
    background-color: $colorPrimaryBG;

    .desktop_text_nav {
      display: none;
    }

    .contact_icons {
      margin: 20px 0 15px;
    }
    .phone_separate {
      padding: 0 20px;
    }

    ul {
      @include flexBoxsStandart();
    }

    .language {
      li {
        display: flex;
        text-align: center;
        align-items: center;
        a {
          img {
            margin-left: 5px;
            padding: 3px 0;
          }
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  .nav_bar_mobile {
    height: 70px;
    background: #fff;

    .container_nav {
      padding: 15px 15px;
      display: flex;
      justify-content: space-between;
    }
    .nav {
      @include flexBoxsStandart();
      a {
        padding-right: 40px;
      }
    }
  }
  .nav_bar_desktop {
    display: none;
  }

  .description {
    h3 {
      text-align: center;
      margin-top: 50px;
      span {
        color: $styleColorBG;
      }
      font-weight: 700;
      font-size: 28px;
      line-height: 38px;
    }
    p {
      margin-top: 15px;
      text-align: center;
      @include mainStyleOfP();
    }
  }
  [class*="card_description"] {
    @include shadowOfCards();
    border-radius: 5px;
    display: flex;
    margin-top: 20px;
    img {
      padding: 33px 20px;
    }
    p {
      margin-top: 10px;
      @include mainStyleOfP();
    }
    h4 {
      margin-top: 20px;
      color: #212529;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
    }
  }

  .exp_photo {
    margin: 50px auto 0;
    position: relative;
    width: 345px;
    height: 462px;
  }
  .exp_photo_push_1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .exp_photo_push_2 {
    position: absolute;
    top: 12px;
    left: 12px;
  }
  .exp_photo_push_3 {
    position: absolute;
    top: 300px;
    left: 103px;
  }

  .exp_info {
    h3 {
      text-align: center;
      span {
        color: $styleColorBG;
      }
      font-weight: 700;
      font-size: 28px;
      line-height: 38px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $colorP;
    }
  }

  .exp_cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    div {
      margin-right: 20px;
      @include shadowOfCards();
      border-radius: 5px;
      width: 162px;
      height: 94px;
      text-align: center;
    }

    div:nth-child(2) {
      margin-right: 0;
    }
    div:nth-child(4) {
      margin-right: 0;
    }
    img {
      margin: 15px auto 5px;
    }

    h4 {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
    }
  }

  .discover_more {
    margin: 30px auto 50px;
    @include mainStyleButton();
  }
} //end of mobile style version

// desktop header

@media (min-width: 761px) {
  .header_mobile {
    display: none;
  }
  .main_mobile {
    display: none;
  }
  .top_nav_bar {
    padding: 0 250px;
    height: 55px;
    @include flexBoxsStandart();
    background-color: $colorPrimaryBG;

    .desktop_text_nav {
      padding-left: 10px;
    }

    .contact_icons {
      margin: 20px 0 15px;
    }

    .phone_separate {
      padding: 0 20px;
    }

    ul {
      @include flexBoxsStandart();
      li {
        a {
          @include flexBoxsStandart();
          text-decoration: none;
          color: #fff;

          font-weight: 400;
          font-size: 14px;
          line-height: 25px;
        }
      }
    }

    .language {
      li {
        display: flex;
        text-align: center;
        align-items: center;
        a {
          img {
            margin-left: 5px;
            padding: 3px 0;
          }
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

  .nav_bar_mobile {
    display: none;
  }

  .nav_bar_desktop {
    .position_nav_bar {
      margin: 15px auto;
      @include flexBoxsStandart();
    }

    .main_nav_desktop {
      @include flexBoxsStandart();

      .btn_call_desktop {
        margin-left: 100px;
        @include mainStyleButton();
        span {
          padding-top: 3px;
        }
        img {
          padding-right: 5px;
        }
      }
    }

    .dropdown_nav_desktop {
      min-width: 627px;
      margin: auto;
      @include flexBoxsStandart();
      li {
        img {
          padding-left: 5px;
        }
        a {
          text-decoration: none;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          color: #212529;
          &:hover {
            color: $styleColorBG;
          }
        }
      }
    }
  }
  // style of header content
  .header_desktop {
    position: relative;
    z-index: 2;
    background: linear-gradient(
      79.58deg,
      rgba(0, 115, 12, 0.81) -39.14%,
      rgba(251, 246, 238, 0) 90.23%
    );

    .gitl_with_plants {
      background-image: url(img/mobile_header_picture.svg);
      background-size: cover;
      width: 40%;
      height: 90%;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
    .plant {
      position: absolute;
      bottom: 0px;
      left: 0px;
    }

    .container_info {
      position: relative;
      z-index: 2;
      padding: 133px 0 100px;
      max-width: 60%;
    }

    .sup_title {
      img {
        padding-right: 5px;
      }
      display: flex;
      align-items: center;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }

    .title {
      span {
        color: $styleColorBG;
      }
      padding-top: 20px;
      font-weight: 800;
      font-size: 58px;
      line-height: 79px;
    }

    .sub_title {
      padding: 20px 0 50px;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
    }

    .header_btn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .get {
      margin-right: 30px;
      @include mainStyleButton();
    }

    .header_sup_btn {
      display: flex;
      align-items: center;
      a {
        color: #676767;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        img {
          margin-left: 15px;
        }
      }
    }

    .live_statistic {
      margin-top: 58px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .customrs {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        max-width: 170px;
        @include flexBoxCenter();
      }
      span {
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: linear-gradient(72.71deg, #00730c -83.5%, #f9f9f9 93.84%);
        border-radius: 35px;

        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
      }
    }
  }

  .services_desktop {
    .description {
      h3 {
        text-align: center;
        margin-top: 50px;
        span {
          color: $styleColorBG;
        }
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
      }
      p {
        margin: 15px 50px 20px;
        text-align: center;
        @include mainStyleOfP();
      }
    }

    .wpar_cards {
      display: flex;
      flex-wrap: wrap;
    }

    .card_description1,
    .card_description5 {
      margin-left: 0;
    }

    [class*="card_description"] {
      width: 330px;
      height: 366px;
      @include shadowOfCards();
      border-radius: 5px;
      margin-left: 29px;
      margin-top: 30px;

      img {
        transform: scale(1.2);
        margin: 62px 130px 55px;
      }

      h4 {
        text-align: center;
        color: #212529;

        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
      }

      p {
        color: $colorP;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        width: 243px;
        height: 84px;
        text-align: center;
        margin: auto;
      }
    }
    .card_description1,
    .card_description5 {
      margin-left: 0;
    }
  }
}
