body {
  font-family: "Nunito", sans-serif;
}

.container_mobile {
  padding: 0 15px;
}

.container_desktop {
  max-width: 1408px;
  margin: auto;
}

@media (max-width: 760px) {
  .header_desktop {
    display: none;
  }
  .main_desktop {
    display: none;
  }
  .header_picture {
    width: 100%;
    height: 240px;
    background-image: url(img/mobile_header_picture.svg);
    background-size: cover;
  }
  .header_text {
    background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
  }
  .header_text .sup_title {
    padding-top: 48px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }
  .header_text .sup_title img {
    padding-right: 5px;
  }
  .header_text .title {
    padding-top: 10px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
  }
  .header_text .title span {
    color: #00730c;
  }
  .header_text .sub_title {
    padding-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .header_text .sub_title p {
    text-align: justify;
  }
  .header_text .header_btn {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header_text .header_btn .get {
    background-color: #00730c;
    color: #fff;
    width: 303px;
    height: 44px;
    border: none;
    border-radius: 5px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  .header_text .header_sup_btn {
    margin-top: 20px;
  }
  .header_text .header_sup_btn a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #00730c;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .header_text .header_sup_btn a img {
    padding-left: 12px;
  }
  .header_text .live_statistic {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 40px 0 35px;
  }
  .header_text .customrs {
    z-index: 2;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    width: 133px;
    height: 32px;
    background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
    border-radius: 32px;
  }
  .header_text .customrs span {
    margin-right: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }
  .header_text .position_img {
    z-index: 0;
    position: absolute;
    top: -20px;
    left: -20px;
  }
  .top_nav_bar {
    padding: 0 20px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c4b35;
  }
  .top_nav_bar .desktop_text_nav {
    display: none;
  }
  .top_nav_bar .contact_icons {
    margin: 20px 0 15px;
  }
  .top_nav_bar .phone_separate {
    padding: 0 20px;
  }
  .top_nav_bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top_nav_bar .language li {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .top_nav_bar .language li a {
    text-decoration: none;
    color: #fff;
  }
  .top_nav_bar .language li a img {
    margin-left: 5px;
    padding: 3px 0;
  }
  .nav_bar_mobile {
    height: 70px;
    background: #fff;
  }
  .nav_bar_mobile .container_nav {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
  }
  .nav_bar_mobile .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_bar_mobile .nav a {
    padding-right: 40px;
  }
  .nav_bar_desktop {
    display: none;
  }
  .description h3 {
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
  }
  .description h3 span {
    color: #00730c;
  }
  .description p {
    margin-top: 15px;
    text-align: center;
    color: #676767;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  [class*=card_description] {
    box-shadow: 3px 3px 10px rgb(202, 202, 202), -2px -2px 10px rgb(202, 202, 202);
    border-radius: 5px;
    display: flex;
    margin-top: 20px;
  }
  [class*=card_description] img {
    padding: 33px 20px;
  }
  [class*=card_description] p {
    margin-top: 10px;
    color: #676767;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  [class*=card_description] h4 {
    margin-top: 20px;
    color: #212529;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
}
@media (min-width: 761px) {
  .header_mobile {
    display: none;
  }
  .main_mobile {
    display: none;
  }
  .top_nav_bar {
    padding: 0 250px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c4b35;
  }
  .top_nav_bar .desktop_text_nav {
    padding-left: 10px;
  }
  .top_nav_bar .contact_icons {
    margin: 20px 0 15px;
  }
  .top_nav_bar .phone_separate {
    padding: 0 20px;
  }
  .top_nav_bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top_nav_bar ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
  }
  .top_nav_bar .language li {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .top_nav_bar .language li a {
    text-decoration: none;
    color: #fff;
  }
  .top_nav_bar .language li a img {
    margin-left: 5px;
    padding: 3px 0;
  }
  .nav_bar_mobile {
    display: none;
  }
  .nav_bar_desktop .position_nav_bar {
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_bar_desktop .main_nav_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_bar_desktop .main_nav_desktop .btn_call_desktop {
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px solid #fff;
    border-radius: 5px;
    background-color: #00730c;
    min-height: 50px;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding: 13px 34.5px;
    font-family: "Nunito", sans-serif;
  }
  .nav_bar_desktop .main_nav_desktop .btn_call_desktop span {
    padding-top: 3px;
  }
  .nav_bar_desktop .main_nav_desktop .btn_call_desktop img {
    padding-right: 5px;
  }
  .nav_bar_desktop .dropdown_nav_desktop {
    min-width: 627px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_bar_desktop .dropdown_nav_desktop li img {
    padding-left: 5px;
  }
  .nav_bar_desktop .dropdown_nav_desktop li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #212529;
  }
  .nav_bar_desktop .dropdown_nav_desktop li a:hover {
    color: #00730c;
  }
  .header_desktop {
    position: relative;
    z-index: 2;
    background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
  }
  .header_desktop .gitl_with_plants {
    background-image: url(img/mobile_header_picture.svg);
    background-size: cover;
    width: 40%;
    height: 90%;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .header_desktop .plant {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .header_desktop .container_info {
    position: relative;
    z-index: 2;
    padding: 133px 0 100px;
    max-width: 60%;
  }
  .header_desktop .sup_title {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  .header_desktop .sup_title img {
    padding-right: 5px;
  }
  .header_desktop .title {
    padding-top: 20px;
    font-weight: 800;
    font-size: 58px;
    line-height: 79px;
  }
  .header_desktop .title span {
    color: #00730c;
  }
  .header_desktop .sub_title {
    padding: 20px 0 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  .header_desktop .header_btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header_desktop .get {
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px solid #fff;
    border-radius: 5px;
    background-color: #00730c;
    min-height: 50px;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding: 13px 34.5px;
    font-family: "Nunito", sans-serif;
  }
  .header_desktop .header_sup_btn {
    display: flex;
    align-items: center;
  }
  .header_desktop .header_sup_btn a {
    color: #676767;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
  }
  .header_desktop .header_sup_btn a img {
    margin-left: 15px;
  }
  .header_desktop .live_statistic {
    margin-top: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header_desktop .live_statistic .customrs {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    max-width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header_desktop .live_statistic span {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(72.71deg, #00730c -83.5%, #f9f9f9 93.84%);
    border-radius: 35px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
  }
  .services_desktop .description h3 {
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
  }
  .services_desktop .description h3 span {
    color: #00730c;
  }
  .services_desktop .description p {
    margin: 15px 50px 20px;
    text-align: center;
    color: #676767;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .services_desktop .wpar_cards {
    display: flex;
    flex-wrap: wrap;
  }
  .services_desktop .card_description1,
.services_desktop .card_description5 {
    margin-left: 0;
  }
  .services_desktop [class*=card_description] {
    width: 330px;
    height: 366px;
    box-shadow: 3px 3px 10px rgb(202, 202, 202), -2px -2px 10px rgb(202, 202, 202);
    border-radius: 5px;
    margin-left: 29px;
    margin-top: 30px;
  }
  .services_desktop [class*=card_description] img {
    transform: scale(1.2);
    margin: 62px 130px 55px;
  }
  .services_desktop [class*=card_description] h4 {
    text-align: center;
    color: #212529;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }
  .services_desktop [class*=card_description] p {
    color: #676767;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 243px;
    height: 84px;
    text-align: center;
    margin: auto;
  }
  .services_desktop .card_description1,
.services_desktop .card_description5 {
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */